@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --bg: hsl(0, 0%, 98%); */
    /* --background: 0 0% 85%; */
    --background: 9 3% 92%;
    /* --background: 5 8% 80%; */
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 180 89% 36%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    /* --clr: #fd6ab6; */

    /* --clr: #faad4f; */
    --clr: #e7a128;
    --heading-clr: #171616;
    --gradient2: rgba(0, 0, 0, 0.3);
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 180 89% 36%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    /* --clr: #21d8a1; */
    --clr: #14aaa0;

    --heading-clr: #f6f6f6;
    --gradient2: rgba(255, 255, 255, 0.3);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .divider {
    @apply w-16 border-b-[0.4rem] border-dotted mx-auto border-foreground/40 my-[10svh];
  }

  .about-profile__after {
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: var(--clr);
      bottom: -5%;
      right: -5%;
      z-index: -3;
      border-radius: 20px;
      transform: rotate(-10deg) scale(0.95) translate(-3%, -5%);
      transition: all 0.8s;
      filter: saturate(0.3) brightness(0.8);
    }
    &:hover {
      transform: scale(1.03);

      &::after {
        transform: rotate(0deg) scale(1) translate(1%, 1%);
      }
    }
  }

  .heading-style {
    text-transform: uppercase;
    width: fit-content;
    font-size: clamp(2rem, 10vw, 7rem);
    white-space: nowrap;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: var(--gradient2);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 40%;
      height: 3px;
      background-color: var(--clr);
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
    }

    &::after {
      position: absolute;
      width: 20%;
      height: 5px;
      font-size: 1.5rem;
      font-weight: bold;
      top: 40%;
      left: 70%;
      color: var(--clr);
      text-transform: capitalize;
      letter-spacing: 0.25rem;
      transform: translateX(-50%);
      -webkit-text-fill-color: var(--heading-clr);
      -webkit-text-stroke-width: unset;
      -webkit-text-stroke-color: var(--heading-clr);
    }
  }

  /* HDR: TABLET */
  @media screen and (max-width: 75rem) {
    .heading-style {
      &::after {
        font-size: 1.2rem;
        left: 45%;
      }
    }
  }

  /* HDR: MOBILE */
  @media screen and (max-width: 34.4rem) {
    .heading-style {
      &::before {
        width: 100%;
        left: 0;
        transform: translateX(-30%);
        bottom: -10%;
      }

      &::after {
        font-size: 1.2rem;
        left: 50%;
        top: 30%;
        transform: translateX(-50%);
      }
    }
  }
}
